In [1]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_excel('./dataset/data_selected_monthly_3year.xlsx')
data.drop('Unnamed: 0',axis=1,inplace=True)

In [20]:
data.head()

,fund_id,month1,month2,month3,month4,month5,month6,month7,month8,month9,...,month27,month28,month29,month30,month31,month32,month33,month34,month35,month36
0,HF0000000A,1.4415,1.4304,1.3496,1.2490,1.4078,1.3773,1.3133,1.2198,1.2364,...,1.3292,1.3375,1.2542,1.3246,1.2996,1.4682,1.7909,1.8193,1.6185,1.6907
1,HF0000000C,1.1906,1.1601,1.1421,0.9851,0.9438,0.9111,0.8719,0.7946,0.8076,...,0.8782,1.0012,0.8494,0.9242,0.9040,1.0277,1.1585,1.1059,1.0413,1.2284
2,HF0000000N,3.3233,3.3097,3.3440,3.1313,3.3610,3.2680,3.4650,3.2556,3.2312,...,3.8923,4.1101,3.5926,3.7577,3.9456,4.2542,4.8736,5.0386,5.2666,5.2526
3,HF00000018,0.8786,0.8528,0.8351,0.4956,0.5524,0.4974,0.5203,0.4435,0.4425,...,0.3994,0.4795,0.4338,0.4104,0.4270,0.4439,0.4956,0.4479,0.4379,0.4454
4,HF0000003L,2.5853,2.7118,2.7971,2.6288,2.7350,2.7204,2.8460,2.6374,2.5794,...,3.0692,3.1965,2.9423,3.1200,3.1883,3.5549,4.0480,4.2616,4.0798,4.5166

In [18]:
rtn_list =[]
for i in range(1,36):
    rtn_list.append('rtn'+str(i))

In [23]:
month_list = list(data.columns[1:])

In [25]:
month_list[0]

'month1'

In [26]:
for i in range(len(rtn_list)):
    data[rtn_list[i]] = (data[month_list[i+1]]-data[month_list[i]])/data[month_list[i]]

In [27]:
data.head()

,fund_id,month1,month2,month3,month4,month5,month6,month7,month8,month9,...,rtn26,rtn27,rtn28,rtn29,rtn30,rtn31,rtn32,rtn33,rtn34,rtn35
0,HF0000000A,1.4415,1.4304,1.3496,1.2490,1.4078,1.3773,1.3133,1.2198,1.2364,...,0.078984,0.006244,-0.062280,0.056131,-0.018874,0.129732,0.219793,0.015858,-0.110372,0.044609
1,HF0000000C,1.1906,1.1601,1.1421,0.9851,0.9438,0.9111,0.8719,0.7946,0.8076,...,0.113478,0.140059,-0.151618,0.088062,-0.021857,0.136836,0.127274,-0.045404,-0.058414,0.179679
2,HF0000000N,3.3233,3.3097,3.3440,3.1313,3.3610,3.2680,3.4650,3.2556,3.2312,...,0.081705,0.055957,-0.125909,0.045956,0.050004,0.078214,0.145597,0.033856,0.045251,-0.002658
3,HF00000018,0.8786,0.8528,0.8351,0.4956,0.5524,0.4974,0.5203,0.4435,0.4425,...,0.187630,0.200551,-0.095308,-0.053942,0.040448,0.039578,0.116468,-0.096247,-0.022326,0.017127
4,HF0000003L,2.5853,2.7118,2.7971,2.6288,2.7350,2.7204,2.8460,2.6374,2.5794,...,0.037383,0.041477,-0.079524,0.060395,0.021891,0.114983,0.138710,0.052767,-0.042660,0.107064

In [28]:
moment_list = ['moment1','moment2','moment3','moment4']

In [33]:
data['moment1'] = data[rtn_list].mean(axis=1)

In [34]:
for month in month_list:
    data.drop(month,axis=1,inplace = True)

In [36]:
data.head()

,fund_id,rtn1,rtn2,rtn3,rtn4,rtn5,rtn6,rtn7,rtn8,rtn9,...,rtn27,rtn28,rtn29,rtn30,rtn31,rtn32,rtn33,rtn34,rtn35,moment1
0,HF0000000A,-0.007700,-0.056488,-0.074541,0.127142,-0.021665,-0.046468,-0.071195,0.013609,-0.061064,...,0.006244,-0.062280,0.056131,-0.018874,0.129732,0.219793,0.015858,-0.110372,0.044609,0.007400
1,HF0000000C,-0.025617,-0.015516,-0.137466,-0.041925,-0.034647,-0.043025,-0.088657,0.016360,-0.078133,...,0.140059,-0.151618,0.088062,-0.021857,0.136836,0.127274,-0.045404,-0.058414,0.179679,0.004952
2,HF0000000N,-0.004092,0.010363,-0.063606,0.073356,-0.027670,0.060282,-0.060433,-0.007495,-0.100829,...,0.055957,-0.125909,0.045956,0.050004,0.078214,0.145597,0.033856,0.045251,-0.002658,0.015640
3,HF00000018,-0.029365,-0.020755,-0.406538,0.114609,-0.099566,0.046039,-0.147607,-0.002255,-0.160678,...,0.200551,-0.095308,-0.053942,0.040448,0.039578,0.116468,-0.096247,-0.022326,0.017127,-0.011471
4,HF0000003L,0.048930,0.031455,-0.060169,0.040399,-0.005338,0.046170,-0.073296,-0.021991,-0.083120,...,0.041477,-0.079524,0.060395,0.021891,0.114983,0.138710,0.052767,-0.042660,0.107064,0.018271

In [41]:
for i in range(2,11):
    tmp_sum = 0
    for rtn in rtn_list:
        tmp_sum+=((data[rtn] - data['moment1'])**i)
    data['moment'+str(i)] = tmp_sum/35

In [44]:
for rtn in rtn_list:
    data.drop(rtn,axis=1,inplace = True)

In [45]:
data.to_csv('./dataset/moment10.csv')

# 对1-10阶矩数据进行聚类

In [70]:
# 标准化
moment_list = list(data.columns)[1:]
for moment in moment_list:
    data[moment] = (data[moment] - data[moment].mean())/data[moment].std()

In [86]:
data.moment6.describe()

count    6.780000e+02
mean    -1.037764e-17
std      1.000000e+00
min     -3.896314e-02
25%     -3.896282e-02
50%     -3.896206e-02
75%     -3.895486e-02
max      2.599940e+01
Name: moment6, dtype: float64

In [88]:
for i in range(7,11):
    data.drop('moment'+str(i),axis=1,inplace=True)

In [106]:
data

        fund_id   moment1   moment2   moment3   moment4   moment5   moment6
0    HF0000000A -1.138362 -0.173090 -0.059578 -0.045005 -0.040092 -0.038962
1    HF0000000C -1.308756 -0.038619 -0.057996 -0.044619 -0.040084 -0.038961
2    HF0000000N -0.564782 -0.226477 -0.068199 -0.045171 -0.040115 -0.038963
3    HF00000018 -2.451878  0.260470 -0.089294 -0.040914 -0.040457 -0.038920
4    HF0000003L -0.381645 -0.253566 -0.067248 -0.045261 -0.040113 -0.038963
..          ...       ...       ...       ...       ...       ...       ...
673  HF000045ET -0.296337 -0.227846 -0.063562 -0.045183 -0.040105 -0.038963
674  HF000045FL -1.009948 -0.345029 -0.065041 -0.045395 -0.040110 -0.038963
675  HF000045FO -1.009987 -0.345002 -0.065044 -0.045395 -0.040110 -0.038963
676  HF000045WO -0.604097 -0.221736 -0.062878 -0.045037 -0.040098 -0.038962
677  HF000045X0 -0.693470 -0.338250 -0.064215 -0.045377 -0.040109 -0.038963

[678 rows x 7 columns]

In [144]:
data2 = data.copy(deep=True)

In [145]:
data2

        fund_id   moment1   moment2   moment3   moment4   moment5   moment6
0    HF0000000A -1.138362 -0.173090 -0.059578 -0.045005 -0.040092 -0.038962
1    HF0000000C -1.308756 -0.038619 -0.057996 -0.044619 -0.040084 -0.038961
2    HF0000000N -0.564782 -0.226477 -0.068199 -0.045171 -0.040115 -0.038963
3    HF00000018 -2.451878  0.260470 -0.089294 -0.040914 -0.040457 -0.038920
4    HF0000003L -0.381645 -0.253566 -0.067248 -0.045261 -0.040113 -0.038963
..          ...       ...       ...       ...       ...       ...       ...
673  HF000045ET -0.296337 -0.227846 -0.063562 -0.045183 -0.040105 -0.038963
674  HF000045FL -1.009948 -0.345029 -0.065041 -0.045395 -0.040110 -0.038963
675  HF000045FO -1.009987 -0.345002 -0.065044 -0.045395 -0.040110 -0.038963
676  HF000045WO -0.604097 -0.221736 -0.062878 -0.045037 -0.040098 -0.038962
677  HF000045X0 -0.693470 -0.338250 -0.064215 -0.045377 -0.040109 -0.038963

[678 rows x 7 columns]

In [146]:
#spectral
from sklearn.cluster import SpectralClustering
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import Birch
from sklearn.cluster import MeanShift
from sklearn.cluster import OPTICS
from sklearn.mixture import GaussianMixture
from sklearn.cluster import DBSCAN
X = data2.drop(['fund_id'],axis=1)
y_pred = KMeans(n_clusters=20).fit_predict(X)
data2['Kmeans'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = SpectralClustering(n_clusters=20,affinity='sigmoid').fit_predict(X)
data2['Spectral'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = DBSCAN(eps=0.05,min_samples=3).fit_predict(X)
data2['DBSCAN'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = AgglomerativeClustering(n_clusters=20,linkage='ward').fit_predict(X)
data2['Hierarchical'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = Birch(n_clusters=20).fit_predict(X)
data2['Birch'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = MeanShift().fit_predict(X)
data2['MeanShift'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = OPTICS().fit_predict(X)
data2['OPTICS'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = GaussianMixture(n_components=20).fit_predict(X)
data2['GaussianMixture'] = pd.Series(y_pred)

In [156]:
data2

,fund_id,moment1,moment2,moment3,moment4,moment5,moment6,Kmeans,Spectral,DBSCAN,Hierarchical,Birch,MeanShift,OPTICS,GaussianMixture
0,HF0000000A,-1.138362,-0.173090,-0.059578,-0.045005,-0.040092,-0.038962,7,0,-1,3,5,1,-1,4
1,HF0000000C,-1.308756,-0.038619,-0.057996,-0.044619,-0.040084,-0.038961,7,0,-1,3,5,1,1,4
2,HF0000000N,-0.564782,-0.226477,-0.068199,-0.045171,-0.040115,-0.038963,18,16,0,2,3,0,35,1
3,HF00000018,-2.451878,0.260470,-0.089294,-0.040914,-0.040457,-0.038920,10,19,-1,13,2,0,-1,14
4,HF0000003L,-0.381645,-0.253566,-0.067248,-0.045261,-0.040113,-0.038963,2,0,1,8,18,1,13,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,HF000045ET,-0.296337,-0.227846,-0.063562,-0.045183,-0.040105,-0.038963,2,0,1,8,18,1,-1,8
674,HF000045FL,-1.009948,-0.345029,-0.065041,-0.045395,-0.040110,-0.038963,7,0,7,0,9,1,5,9
675,HF000045FO,-1.009987,-0.345002,-0.065044,-0.045395,-0.040110,-0.038963,7,0,7,0,9,1,5,9
676,HF000045WO,-0.604097,-0.221736,-0.062878,-0.045037,-0.040098,-0.038962,18,16,0,2,3,0,-1,18
677,HF000045X0,-0.693470,-0.338250,-0.064215,-0.045377,-0.040109,-0.038963,18,16,0,2,3,0,42,6

In [155]:
data2.to_csv('./dataset/clusters_base_on_moment.csv')

In [169]:
data2

,moment1,moment2,moment3,moment4,moment5,moment6,Kmeans,Spectral,DBSCAN,Hierarchical,Birch,MeanShift,OPTICS,GaussianMixture
0,-1.138362,-0.173090,-0.059578,-0.045005,-0.040092,-0.038962,7,0,-1,3,5,1,-1,4
1,-1.308756,-0.038619,-0.057996,-0.044619,-0.040084,-0.038961,7,0,-1,3,5,1,1,4
2,-0.564782,-0.226477,-0.068199,-0.045171,-0.040115,-0.038963,18,16,0,2,3,0,35,1
3,-2.451878,0.260470,-0.089294,-0.040914,-0.040457,-0.038920,10,19,-1,13,2,0,-1,14
4,-0.381645,-0.253566,-0.067248,-0.045261,-0.040113,-0.038963,2,0,1,8,18,1,13,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,-0.296337,-0.227846,-0.063562,-0.045183,-0.040105,-0.038963,2,0,1,8,18,1,-1,8
674,-1.009948,-0.345029,-0.065041,-0.045395,-0.040110,-0.038963,7,0,7,0,9,1,5,9
675,-1.009987,-0.345002,-0.065044,-0.045395,-0.040110,-0.038963,7,0,7,0,9,1,5,9
676,-0.604097,-0.221736,-0.062878,-0.045037,-0.040098,-0.038962,18,16,0,2,3,0,-1,18
677,-0.693470,-0.338250,-0.064215,-0.045377,-0.040109,-0.038963,18,16,0,2,3,0,42,6

In [159]:
data = pd.read_excel('./dataset/data_selected_monthly_3year.xlsx')

In [165]:
data

,fund_id,month1,month2,month3,month4,month5,month6,month7,month8,month9,...,month27,month28,month29,month30,month31,month32,month33,month34,month35,month36
0,HF0000000A,1.4415,1.4304,1.3496,1.2490,1.4078,1.3773,1.3133,1.2198,1.2364,...,1.3292,1.3375,1.2542,1.3246,1.2996,1.4682,1.7909,1.8193,1.6185,1.6907
1,HF0000000C,1.1906,1.1601,1.1421,0.9851,0.9438,0.9111,0.8719,0.7946,0.8076,...,0.8782,1.0012,0.8494,0.9242,0.9040,1.0277,1.1585,1.1059,1.0413,1.2284
2,HF0000000N,3.3233,3.3097,3.3440,3.1313,3.3610,3.2680,3.4650,3.2556,3.2312,...,3.8923,4.1101,3.5926,3.7577,3.9456,4.2542,4.8736,5.0386,5.2666,5.2526
3,HF00000018,0.8786,0.8528,0.8351,0.4956,0.5524,0.4974,0.5203,0.4435,0.4425,...,0.3994,0.4795,0.4338,0.4104,0.4270,0.4439,0.4956,0.4479,0.4379,0.4454
4,HF0000003L,2.5853,2.7118,2.7971,2.6288,2.7350,2.7204,2.8460,2.6374,2.5794,...,3.0692,3.1965,2.9423,3.1200,3.1883,3.5549,4.0480,4.2616,4.0798,4.5166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,HF000045ET,0.9620,0.9750,1.0560,0.9280,0.9310,0.9260,0.9640,0.9210,0.9340,...,1.1440,1.1900,1.1000,1.1650,1.1830,1.3220,1.5740,1.5770,1.5230,1.7430
674,HF000045FL,1.2445,1.2845,1.2535,1.2231,1.1295,1.1147,1.1303,1.0859,1.0297,...,1.1314,1.2539,1.2893,1.3408,1.4716,1.6671,1.7823,1.7587,1.6284,1.6392
675,HF000045FO,1.2415,1.2814,1.2505,1.2201,1.1267,1.1120,1.1276,1.0833,1.0272,...,1.1286,1.2508,1.2861,1.3376,1.4680,1.6630,1.7779,1.7544,1.6244,1.6352
676,HF000045WO,1.9241,1.9420,1.9473,1.8442,1.8416,1.7905,1.7538,1.7368,1.7338,...,2.0051,2.0664,1.9713,2.1427,2.2656,2.5001,3.0607,3.0877,2.6646,2.9870
677,HF000045X0,1.1107,1.1023,1.0677,1.0494,1.0291,1.0233,1.0259,1.0102,0.9927,...,1.2719,1.4019,1.2394,1.3434,1.3747,1.5187,1.7482,1.7449,1.7094,1.7101

In [174]:
data3 = pd.concat([data,data2],axis=1)

In [175]:
data3.to_csv('./dataset/nav_moment_clusters.csv')